MINTHCM_URL=http://localhost
MINTHCM_CLIENT_ID=mobile
MINTHCM_CLIENT_SECRET=9c2d6e2f4cc780a4196a92f5d27c59d731ab8fcaf6626c67945b0066e7ac8095
MINTHCM_USERNAME=admin
MINTHCM_PASSWORD=minthcm
DATABASE_URL=sqlite:///./performtrack.db
